@media all and (max-width: 1200px) {
    .profile{
        flex-wrap: wrap;
    }
}

.profile{
    /* border: 1px solid red; */
    padding: 30px 100px 30px 100px;
    display: flex;
    
}

.profile_information{
    background-color: #F1F1F1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: -1px 1px 13px 9px rgba(0, 0, 0, 0.2);
}

.profile_information img {
    border-radius: 50%;
    width: 300px;

}

.profile_list{
    /* border: 1px solid green; */
    padding: 20px;
    box-shadow: -1px 1px 13px 9px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 330px;
    overflow: auto;
    
}

.profile_list_car_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:  wrap;
}

.profile_list_car_title{
    margin: 0;
}

.profile_list_car{
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.profile_img{
    /* border: 1px solid red; */
    height: 50%;
    width: 100%;
}

.records{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile_contacts_add_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_contacts{
    position: relative;
    /* border: 1px solid green; */
}