.catalog_container{
    display: flex;
    flex-wrap: wrap;
    /* background-image: url("../../images/catalogBacground.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    padding: 70px;
    
}