.navBar {
    background-color: whitesmoke;
    
    left:0;
    right: 0;
    
}

.nav_span p {
  
    list-style-type: none;
    display: inline-block;
    /* position: -ms-page; */
    padding: 22px;
    margin: 10px;
  
    
}
