*{
    box-sizing: border-box;
}

.form_container{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 68px 100px 150px;
    opacity: 0.8;
    background-color: #F1F1F1;
    border-radius: 12px;
    
}

.form_section{
    display: flex;
    justify-content: end;
    background-image: url("../../images/bg.jpg");
    /* margin-bottom: 100px; */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 7px 0px;
    border-radius: 20px;
    border: none;
}

/* style="margin-bottom:15px" */
/* style="color:dodgerblue" */