#viewForm{
    border: 2px solid red;
    width: 600px;
    height: 300px;
    margin: auto;
    position: relative;
    /*top: 100px;*/
    /*bottom: auto;*/
    background-color: azure;
    }
#formLogin{
    border: 2px solid green;
    align-items: center;

    margin: auto;

}

.inputForm{
    border: 2px solid blue;
    width: 500px;
    height: 30px;
}