*{
    box-sizing: border-box;
}

.form_container{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 68px 100px 140px 150px;
    opacity: 0.8;
    background-color: #F1F1F1;
    border-radius: 12px;
    
}

.form_section{
    display: flex;
    justify-content: flex-end;
    background-image: url("../../images/bg.jpg");
    
}

.form_login {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 7px 0px;
    border-radius: 20px;
    border: none;
}

.cancelbtn, .signupbtn{
    width: 210px;
    height: 30px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.cancelbtn{
    background-color: #F5564B;

}

.signupbtn{
    background-color: #1EB37C;
}

.container_signin{
    text-align: end;
}
