/* style="border:1px solid #ccc" */

.form_register{
    /* color: wheat; */
    max-width: 700px;
    margin-bottom: 20px;
    
    
}

.register_container{
    display: flex;
    background-image: url('../../images/registerCars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 45px;
    justify-content: flex-end;
    
    
}

.cancelbtn, .signupbtn{
    width: 335px;
    height: 30px;
    border: none;
    font-size: 15px;
    
    cursor: pointer;
}

.cancelbtn{
    background-color: #F5564B;

}

.signupbtn{
    background-color: #1EB37C;
}

.container_login{
    text-align: center;
}

.container_login a{
    color: red;
    /* font-weight: bold; */
}

.form_register {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 7px 0px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    opacity: 0.8;
}